@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  font-family: 'Poppins', sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}
.sr-only {
  display: none;
}

.infobox{
  width: 15%;
  top: 8px;
  right: 16px;
  position: absolute;
  background-color: #fff;
  z-index: 10000;
}
.Legend{
  width: 15%;
  bottom: 8px;
  right: 16px;
  position: absolute;
  background-color: #fff;
  z-index: 10000;
}
.header {
  display: grid;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  z-index: 10000;
}

.SidePanel{
  position: absolute;
  width: 51px;
  height: 100%;
  left: 0px;
  top: 0px;
  
  background: #171e26;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SidePanel >ul>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding:  5px;
  margin-top: 10px;
}

.SidePanel>ul>li>img{
  /* display: inline-block; */
  /* vertical-align: middle; */
  max-width: 100%;
  padding:  5px;
  height: 40px;
  background-color: rgba(103, 151, 190, 0.603);
}

.SidePanel>ul>li:nth-child(1){
  padding:  0px;
}

.SidePanel >ul>li:hover {
  background-color: #313a43;
  border: black;
  color: #fff;
}

.SideBarWrapper{
  display:flex;
  position: absolute;
  height: 100%;
  max-width: 20rem;
  z-index: 10000;
}

.SidePanel >ul>li>span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 8px;
    font: -webkit-control;
    vertical-align: baseline;
    color: #DADADA
}

.SidePanel >ul>li:hover>.MuiSvgIcon-root{
  color: #dad9e0;
}

.SidePanel >ul>li>.MuiSvgIcon-root{
  border: #dad9e0;
  color: #DADADA;

}

.task {
display:none;  
}
.active{
  /* cursor: pointer; */
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  
}
.activeAnalytics{
  cursor: pointer;
  background-color: #fff;
  
}
/* .active table>tbody>tr>td{
  padding:0px;
  margin: 0px;
  text-align: right;
  
} */



.LayerTree p{
  background: #3a3a3a;
  align-items: flex-end;
  width: 20rem;
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid rgb(131, 130, 130);
  font-size: 14px;
  color: #fff;
      font:"Helvetica Neue",Arial,Helvetica,sans-serif;
}

.LayerTree p>.MuiSvgIcon-root{
  float: right;
  color: gray;
}

.LayerContainer{
  height: 100%;
  margin-left: 51px;
  background-color: #212b35;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  max-height: 100%;
  /* overflow-y: auto; */

}
.LayerContainer > p{ 
  /* background: #bbb8b8; */

}

.hidden { display:none !important; }

.css-e56m7-control {
min-width: 250px !important;
width: 250px !important;
}
.css-17s834-control {
  min-width: 250px !important;
  width: 250px !important;
  }
.select {
  width: 250px !important;
}
.MuiAccordion-root.Mui-expanded {
  margin: 1px 0 !important;
}

.MuiButtonBase-root.MuiAccordionSummary-root{
  background-color: #bbb8b8;
  border-bottom: 1px solid #080808;
}
.MuiButtonBase-root.MuiAccordionSummary-root{
  max-height: 35px;
  min-height: 30px;
}
.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded {
  min-height: 30px;
  max-height: 35px;

}


/* for frame box */

